**envPaths
**/configure/O.*/
**/*App/Db/O.*/
**/*App/src/O.*/
**/dbd/
**/bin/
**/lib/
**/db/
!**/*App/Db/
**.log
**.sav*
**.cfg*
**/.metadata/*
**BOY Examples*
**BOY Image Library/*

**.*~
.vscode
**.vs/
**/__pycache__/*
assets
/.iocsh_history
.iocsh_history

/QtC-*
*.orig
*.log
.*.swp
.DS_Store
