

#_______________________________________________________
#_________set substitutions based on polarity___________

#checks whether polarity is positive or negative and calls appropriate sequence
record(calcout, "$(P)$(R)callSubstitutionsPOS")
{
    field(DESC, "Set substitutions based on polarity")
    field(VAL, "3")#ensure initial value is non-zero so can be processed on transition to zero
    field(INPA, "$(P)$(R)polarity")
    field(CALC, "A")
    field(OCAL, "1")
    field(OOPT, "Transition To Zero")
    field(OUT, "$(P)$(R)SRS$(MODEL):0:setSubstitutions.PROC")
    field(FLNK, "$(P)$(R)callSubstitutionsNEG")
}
record(calcout, "$(P)$(R)callSubstitutionsNEG")
{
    field(DESC, "Set substitutions based on polarity")
    field(INPA, "$(P)$(R)polarity")
    field(CALC, "A")
    field(OCAL, "1")
    field(OOPT, "Transition To Non-zero")
    field(OUT, "$(P)$(R)SRS$(MODEL):1:setSubstitutions.PROC")
}


#substitutions can't usually be changed dynamically so a sequence must be used
#to account for models with switchable polarity
#H/LOPR and DRVH/L are not able to be set directly from another pv in the pv itself
#so a sequence is used to set the values 

#this sequence will only be called on initialisation and when polarity is changed
record(seq, "$(P)$(R)SRS$(MODELNO):$(POLARITY):setSubstitutions"){
    field(DESC, "Set substitutions based on polarity")
    field(DO0, "$(VMAX)")
    field(LNK0, "$(P)$(R)VLIMset.HOPR")
    field(DO1, "$(VMAX)")
    field(LNK1, "$(P)$(R)VLIMset.DRVH")
    field(DO2, "$(VMIN)")
    field(LNK2, "$(P)$(R)VLIMset.LOPR")
    field(DO3, "$(VMIN)")
    field(LNK3, "$(P)$(R)VLIMset.DRVL PP")
    field(DO4, "$(VMAX)")
    field(LNK4, "$(P)$(R)VMAX PP")
    field(DO5, "$(VMIN)")
    field(LNK5, "$(P)$(R)VMIN PP")
    field(DO6, "$(IMAX)")
    field(LNK6, "$(P)$(R)IMAX PP")
    field(DO7, "$(IMIN)")
    field(LNK7, "$(P)$(R)IMIN PP")
    field(DO8, "$(VMAX)")
    field(LNK8, "$(P)$(R)VLIMget.HOPR")
    field(DO9, "$(VMAX)")
    field(LNK9, "$(P)$(R)VLIMget.DRVH")
    field(DOA, "$(VMIN)")
    field(LNKA, "$(P)$(R)VLIMget.LOPR")
    field(DOB, "$(VMIN)")
    field(LNKB, "$(P)$(R)VLIMget.DRVL")
    field(DOC, "$(IMAX)")
    field(LNKC, "$(P)$(R)ILIMget.HOPR")
    field(DOD, "$(IMAX)")
    field(LNKD, "$(P)$(R)ILIMget.DRVH")
    field(DOE, "$(IMIN)")
    field(LNKE, "$(P)$(R)ILIMget.LOPR")
    field(DOF, "$(IMIN)")
    field(LNKF, "$(P)$(R)ILIMget.DRVL PP")
    field(FLNK, "$(P)$(R)SRS$(MODELNO):$(POLARITY):setSubstitutions2")
    
}
record(seq, "$(P)$(R)SRS$(MODELNO):$(POLARITY):setSubstitutions2"){
    field(DESC, "Set substitutions based on polarity")
    field(DO0, "$(IMAX)")
    field(LNK0, "$(P)$(R)ILIMset.HOPR")
    field(DO1, "$(IMAX)")
    field(LNK1, "$(P)$(R)ILIMset.DRVH")
    field(DO2, "$(IMIN)")
    field(LNK2, "$(P)$(R)ILIMset.LOPR")
    field(DO3, "$(IMIN)")
    field(LNK3, "$(P)$(R)ILIMset.DRVL")
    field(DO4, "$(IMAX)")
    field(LNK4, "$(P)$(R)ITRPset.HOPR")
    field(DO5, "$(IMAX)")
    field(LNK5, "$(P)$(R)ITRPset.DRVH")
    field(DO6, "$(IMIN)")
    field(LNK6, "$(P)$(R)ITRPset.LOPR")
    field(DO7, "$(IMIN)")
    field(LNK7, "$(P)$(R)ITRPset.DRVL")
    field(DO8, "$(IMAX)")
    field(LNK8, "$(P)$(R)ITRPget.HOPR")
    field(DO9, "$(IMIN)")
    field(LNK9, "$(P)$(R)ITRPget.LOPR PP")
    field(DOA, "$(IMAX)")
    field(LNKA, "$(P)$(R)ITRPset PP")
    field(DOB, "$(VMAX)")
    field(LNKB, "$(P)$(R)C_absVMIN.HOPR")
    field(DOC, "$(VMAX)")
    field(LNKC, "$(P)$(R)C_absVMAX.HOPR")
    field(DOD, "$(VMIN)")
    field(LNKD, "$(P)$(R)C_absVMIN.LOPR")
    field(DOE, "$(VMIN)")
    field(LNKE, "$(P)$(R)C_absVMAX.LOPR")
    field(DOF, "$(IMAX)")
    field(LNKF, "$(P)$(R)OutputIget.HOPR")
    field(FLNK, "$(P)$(R)SRS$(MODELNO):$(POLARITY):setSubstitutions3")
}
record(seq, "$(P)$(R)SRS$(MODELNO):$(POLARITY):setSubstitutions3"){
    field(DESC, "Set substitutions based on polarity")
    field(DO0, "$(VMIN)")
    field(LNK0, "$(P)$(R)desiredHV.LOPR")
    field(DO1, "$(VMIN)")
    field(LNK1, "$(P)$(R)desiredHV.DRVL")
    field(DO2, "$(VMAX)")
    field(LNK2, "$(P)$(R)HVset.HOPR ")
    field(DO3, "$(VMIN)")
    field(LNK3, "$(P)$(R)HVset.LOPR PP")
    field(DO4, "$(VMAX)")
    field(LNK4, "$(P)$(R)OutputVget.HOPR")
    field(DO5, "$(VMIN)")
    field(LNK5, "$(P)$(R)OutputVget.LOPR PP")
    field(DO6, "$(IMAX)")
    field(LNK6, "$(P)$(R)ILIMset PP")
    field(DO7, "$(VMAX)")
    field(LNK7, "$(P)$(R)desiredHV.DRVH")
    field(DO8, "$(VMAX)")
    field(LNK8, "$(P)$(R)desiredHV.HOPR PP")
    field(LNK9, "$(P)$(R)DefaultSettings PP")
    field(DOA, "$(VMAX)")
    field(LNKA, "$(P)$(R)voltageLimitSET.HOPR")
    field(DOB, "$(VMIN)")
    field(LNKB, "$(P)$(R)voltageLimitSET.LOPR")
    field(DOLC, "$(P)$(R)VLIMget")
    field(LNKC, "$(P)$(R)voltageLimitSET")
    field(DOD, "$(VMAX)")
    field(LNKD, "$(P)$(R)voltageLimitSET.DRVH")
    field(DOE, "$(VMIN)")
    field(LNKE, "$(P)$(R)voltageLimitSET.DRVL PP")
    field(DOF, "$(TOLERANCE)")
    field(LNKF, "$(P)$(R)C_Tolerance PP")
    field(FLNK, "$(P)$(R)setOnStart")
}

#values to be set on start not based on substitutions
record(seq,"$(P)$(R)setOnStart"){
    field(DESC, "sets values from constants")
    field(LNK0, "$(P)$(R)C_absVMIN PP")
    field(DOL1, "$(P)$(R)C_minStepSize")
    field(LNK1, "$(P)$(R)VRAMPstepSize.LOPR")
    field(DOL2, "$(P)$(R)C_minStepSize")
    field(LNK2, "$(P)$(R)VRAMPstepSize")
    field(DOL3, "$(P)$(R)C_maxStepSize")
    field(LNK3, "$(P)$(R)VRAMPstepSize.HOPR")
    field(DOL4, "$(P)$(R)C_maxStepSize")
    field(LNK4, "$(P)$(R)VRAMPstepSize.DRVH")
    field(DOL5, "$(P)$(R)C_minStepSize")
    field(LNK5, "$(P)$(R)VRAMPstepSize.DRVL PP")
    field(DOL6, "$(P)$(R)C_minInterval PP")
    field(LNK6, "$(P)$(R)VRAMPtimeSet.LOPR ")
    field(DOL7, "$(P)$(R)C_minInterval")
    field(LNK7, "$(P)$(R)VRAMPinterval.LOPR ")
    field(DOL8, "$(P)$(R)C_minInterval")
    field(LNK8, "$(P)$(R)VRAMPtimeSet PP")
    field(DOL9, "$(P)$(R)C_minInterval")
    field(LNK9, "$(P)$(R)VRAMPinterval")
    field(DOLA, "$(P)$(R)C_IMAXmA PP")
    field(LNKA, "$(P)$(R)currentLimitmA.HOPR PP")
    field(DOLB, "$(P)$(R)C_IMAXmA")
    field(LNKB, "$(P)$(R)currentTripLimitmA.HOPR PP")
    field(LNKC, "$(P)$(R)resetLimits PP")
    field(DOLD, "$(P)$(R)C_minInterval")
    field(LNKD, "$(P)$(R)VRAMPinterval.DRVL PP")
    field(LNKE, "$(P)$(R)idleZoom PP")
}

#when changes are applied from the limit menu, set the device limits to the new values
record(seq,"$(P)$(R)setNewLimitsPOS"){
    field(DESC, "sets limits from constants")
    field(DOL1, "$(P)$(R)voltageLimitSET PP")
    field(LNK1, "$(P)$(R)VLIMset PP")
    field(DOL2, "$(P)$(R)currentLimitA PP")
    field(LNK2, "$(P)$(R)ILIMset PP")
    field(DOL3, "$(P)$(R)currentTripLimitA PP")
    field(LNK3, "$(P)$(R)ITRPset PP")
    field(DOL4, "$(P)$(R)voltageLimitSET")
    field(LNK4, "$(P)$(R)desiredHV.HOPR")
    field(DOL5, "$(P)$(R)voltageLimitSET")
    field(LNK5, "$(P)$(R)HVset.HOPR")
    field(DOL6, "$(P)$(R)voltageLimitSET")
    field(LNK6, "$(P)$(R)HVset.DRVH PP")
    field(DOL7, "$(P)$(R)voltageLimitSET")
    field(LNK7, "$(P)$(R)OutputVget.HOPR PP")
    field(DOL8, "$(P)$(R)voltageLimitSET")
    field(LNK8, "$(P)$(R)desiredHV.DRVH PP")
}
record(seq,"$(P)$(R)setNewLimitsNEG"){
    field(DESC, "sets limits from constants")
    field(DOL1, "$(P)$(R)voltageLimitSET PP")
    field(LNK1, "$(P)$(R)VLIMset PP")
    field(DOL2, "$(P)$(R)currentLimitA PP")
    field(LNK2, "$(P)$(R)ILIMset PP")
    field(DOL3, "$(P)$(R)currentTripLimitA PP")
    field(LNK3, "$(P)$(R)ITRPset PP")
    field(DOL4, "$(P)$(R)voltageLimitSET")
    field(LNK4, "$(P)$(R)desiredHV.LOPR")
    field(DOL5, "$(P)$(R)voltageLimitSET")
    field(LNK5, "$(P)$(R)HVset.LOPR")
    field(DOL6, "$(P)$(R)voltageLimitSET")
    field(LNK6, "$(P)$(R)HVset.DRVL PP")
    field(DOL7, "$(P)$(R)voltageLimitSET")
    field(LNK7, "$(P)$(R)OutputVget.LOPR PP")
    field(DOL8, "$(P)$(R)voltageLimitSET")
    field(LNK8, "$(P)$(R)desiredHV.DRVL PP")
}



