##########################################################################
# Copyright (c) 2012 Lawrence Berkeley National Laboratory, Accelerator
# Technology Group, Engineering Division
# This code is distributed subject to a Software License Agreement found
# in file LICENSE that is included with this distribution.
##########################################################################

#____________Temp proto commands_____________
#----------------------------------------------

record(waveform, "$(P)$(R)IDN")
{
    field(DESC, "SCPI identification string")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getIDN(79) $(PORT) $(A)")
    field(PINI, "YES")
    field(FTVL, "CHAR")
    field(NELM, "80")
}

record(longin, "$(P)$(R)getESR")
{
    field(DESC, "SCPI get event status")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getD(*ESR) $(PORT) $(A)")
}
record(bo, "$(P)$(R)TripClear")
{
    field(DESC, "Clear a trip")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto cmd(TCLR) $(PORT) $(A)")
    field(ZNAM, "Clear")
    field(ONAM, "Clear")
    field(HIGH, "1")
    field(FLNK, "$(P)$(R)getSTB")
}

record(ao, "$(P)$(R)VLIMset")
{
    field(DESC, "Set output voltage limit")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(VLIM) $(PORT) $(A)")
    field(EGU,  "V")
    field(FLNK, "$(P)$(R)VLIMget")
}
record(ai, "$(P)$(R)VLIMget")
{
    field(DESC, "Get output voltage limit")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(VLIM) $(PORT) $(A)")
    field(EGU,  "V")
    field(PINI, "YES")
}
record(ao, "$(P)$(R)ILIMset")
{
    field(DESC, "Set output current limit")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(ILIM) $(PORT) $(A)")
    field(EGU,  "A")
    field(PREC, "4")
    field(FLNK, "$(P)$(R)ILIMget")
}
record(ai, "$(P)$(R)ILIMget")
{
    field(DESC, "Get output current limit")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(ILIM) $(PORT) $(A)")
    field(EGU,  "A")
    field(PREC, "4")
    field(PINI, "YES")
    field(FLNK, "$(P)$(R)ILIMmA")
}


record(ao, "$(P)$(R)ITRPset")
{
    field(DESC, "Set output current trip limit")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(ITRP) $(PORT) $(A)")
    field(EGU,  "A")
    field(PREC, "4")
    field(FLNK, "$(P)$(R)ITRPget")
}
record(ai, "$(P)$(R)ITRPget")
{
    field(DESC, "Get output current trip limit")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(ITRP) $(PORT) $(A)")
    field(EGU,  "A")
    field(PREC, "4")
    field(PINI, "YES")
    field(FLNK, "$(P)$(R)ITRPmA")
}

record(calc, "$(P)$(R)ILIMmA")
{
    field(DESC, "Convert ILIM to mA for display")
    field(INPA, "$(P)$(R)ILIMget")
    field(CALC, "A*1000")
    field(EGU, "mA")
    field(PREC, "2")
}

record(calc, "$(P)$(R)ITRPmA")
{
    field(DESC, "Convert ITRP to mA for display")
    field(INPA, "$(P)$(R)ITRPget")
    field(CALC, "A*1000")
    field(EGU, "mA")
    field(PREC, "2")
}

#__________________________________________________________
#
# Dummy record to trigger readbacks


record(fanout, "$(P)$(R)ReadbackPoll_")
{
    field(DESC, "Head of readback chain")
    field(PINI, "YES")
    field(SCAN, ".1 second")
    field(LNK1, "$(P)$(R)getSTB")
    field(LNK2, "$(P)$(R)HVONstatus")
    field(LNK3, "$(P)$(R)ILIMstatus")
    field(LNK4, "$(P)$(R)ITRIPstatus")
    field(LNK5, "$(P)$(R)VTRIPstatus")

}

record(mbbiDirect, "$(P)$(R)getSTB")
{
    field(DESC, "SCPI get status byte")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getD(*STB) $(PORT) $(A)")
    field(SIML, "$(P)$(R)SIM")
    field(SIOL, "$(P)$(R)SIM:STB")
}
record(bi, "$(P)$(R)HVONstatus")
{
    field(DESC, "Is HV on?")
    field(INP,  "$(P)$(R)getSTB.B7 NPP MS")
    field(ZNAM, "Off")
    field(ONAM, "On")
}
record(calcout, "$(P)$(R)ILIMstatus")
{
    field(DESC, "Is current limited?")
    field(INPA,  "$(P)$(R)getSTB.B3 NPP MS")
    field(OOPT, "Transition To Non-zero")
    field(CALC, "A == 1 ? 3 : 0") #3 in mbbi record represents current limit
    field(OUT, "$(P)$(R)TripStatus.B3")
}
record(calcout, "$(P)$(R)ITRIPstatus")
{
    field(DESC, "Tripped on overcurrent?")
    field(INPA,  "$(P)$(R)getSTB.B2 NPP MS")
    field(OOPT, "Transition To Non-zero")
    field(CALC, "A") #2 in mbbi record represents current trip
    field(OUT, "$(P)$(R)TripStatus.B2")
}
record(calcout, "$(P)$(R)VTRIPstatus")
{
    field(DESC, "Tripped on overvoltage?")
    field(INPA,  "$(P)$(R)getSTB.B1 NPP MS")
    field(OOPT, "Transition To Non-zero")
    field(CALC, "A") #1 in mbbi record represents voltage trip
    field(OUT, "$(P)$(R)TripStatus.B1")
}

record(mbbiDirect, "$(P)$(R)TripStatus")
{
    field(DESC, "Overall trip status")
    #B1 = overvoltage trip
    #B2 = overcurrent trip
    #B3 = current limit active
    field(PINI, "YES")
}

record(bi, "$(P)$(R)HVSTABLEstatus")
{
    field(DESC, "HV stable?")
    field(INP,  "$(P)$(R)getSTB.B0 NPP MS")
    field(ZNAM, "Unstable")
    field(ONAM, "Stable")
    field(FLNK, "$(P)$(R)StableMultiState")
}

record(calc, "$(P)$(R)StableMultiState")
{#while ramping, stability briefly becomes unstable
#to get more accurate LED it should check for if it's unstable twice in a row
    field(INPA, "$(P)$(R)StableMultiState")
    field(INPB, "$(P)$(R)HVSTABLEstatus")
    field(INPC, "$(P)$(R)VRAMPactive")
    field(CALC, "B==0 ? MIN(A+1,3): 1-C") 
    # if unstable, val will be whichever is smallest, A+1 or 3 (meaning it can only increase to maximum 3)
    #if stable it is set back to 1 (or 0 if ramping)
    #states: 1 = stable, 2 = warning, 3 = unstable
    #while ramping states will begin at 0 to allow for 1 extra second of instability which is expected
}

record(ai, "$(P)$(R)OutputIget")
{
    field(DESC, "Output current readback")
    field(DTYP, "stream")
    field(SCAN, ".1 second")
    field(INP,  "@ps300.proto getF(IOUT) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "0")
    field(HOPR, "500.0e-6")
    field(PREC, "4")
    field(FLNK, "$(P)$(R)OutputImA")
}

record(calc, "$(P)$(R)OutputImA")
{
    field(DESC, "Convert output current to mA for display")
    field(INPA, "$(P)$(R)OutputIget")
    field(CALC, "A*1000")
    field(EGU, "mA")
    field(PREC, "2")
}
#________________________________________________________

record(bo, "$(P)$(R)HVenable")
{#Turn high voltage on/off
    field(DESC, "Enable output")
    field(DTYP, "stream")
    field(VAL, "0")
    field(OUT,  "@ps300.proto hvOffOn $(PORT) $(A)")
    field(ZNAM, "Turn Off")
    field(ONAM, "Turn On")
    field(PINI, "YES")
    field(FLNK, "$(P)$(R)HVenableSeq")
}

record(seq, "$(P)$(R)HVenableSeq")
{
    field(DESC, "Sequence to dis/enable HV")
    field(DOL1, "$(P)$(R)C_minStepSize")
    field(LNK1, "$(P)$(R)HVset PP")
    field(DO2, "0")
    field(LNK2, "$(P)$(R)VRAMPactive PP")
    field(LNK3, "$(P)$(R)getSTB.PROC PP")
}

#____________________________________________
#_________Start ramping process______________

record(bi, "$(P)$(R)chargeStartHelper")
{
    field(DESC, "Helper record to start HV charge")
    field(FLNK, "$(P)$(R)StartCharge")
}
record(seq, "$(P)$(R)StartCharge")
{
    field(DESC, "Sequence to start HV charge")
    #get/set values for graphing
    field(DOL3, "$(P)$(R)OutputVget")
    field(LNK3, "$(P)$(R)startVoltage PP")
    field(DO4, "1")
    field(LNK4, "$(P)$(R)YaxisMax.PROC PP")
    field(DO5, "1")
    field(LNK5, "$(P)$(R)YaxisMin.PROC PP")
    field(DOL6, "$(P)$(R)YaxisMin")
    field(LNK6, "$(P)$(R)autoscaleControlMin PP")
    field(DOL7, "$(P)$(R)YaxisMax")
    field(LNK7, "$(P)$(R)autoscaleControlMax PP")
    #calculate ramp parameters
    field(LNK8, "$(P)$(R)VRAMPcalc PP")
}

record(bi, "$(P)$(R)VRAMPactive")
{#when set to 1 ("Ramping") the state machine will begin the ramping process
    field(DESC, "Is charge active?")
    field(ZNAM, "Idle")
    field(ONAM, "Ramping")
    field(PINI, "YES")
}

#_____________________________________________
#______User set ramp parameters_______________

record(ai, "$(P)$(R)VRAMPtimeSet"){
    #LOPR and VAl passed in from setOnStart as cannot be set to a pv directly
    field(DESC, "Set desired ramp time")
    field(HOPR, "1000000")#HOPR must be set and setting to Inf is not supported by ui
    field(EGU,  "seconds")
    field(PINI, "YES")
}
record(ao, "$(P)$(R)VRAMPinterval") {
    #^^above comments apply
    field(DESC, "Set ramp up interval") 
    field(HOPR, "1000000")
    field(DRVH, "1000000")
    field(EGU, "seconds")
    field(PINI, "YES")
}

record(ao, "$(P)$(R)VRAMPstepSize"){
    field(DESC, "Set voltage ramp step size")
    field(EGU, "V")
    field(PINI, "YES")
}

record(bi, "$(P)$(R)VRAMPmode"){
    field(DESC, "Set ramp mode")
    field(PINI, "YES")
    field(VAL, "0") #Automatic mode by default
    #automatic means calculation is performed, manual means user sets step size and interval
    field(ZNAM, "Automatic")
    field(ONAM, "Manual")
}

record(ao, "$(P)$(R)desiredHV")
{
    field(DESC, "Set target output voltage")
    field(EGU,  "V")
    field(PINI, "YES")
}
#__________________________________________
#__________Voltage get and set_____________

record(ao, "$(P)$(R)HVset")
{#sets the device's high voltage, should only be set through the state machine's ramping process
    field(DESC, "Set output voltage")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(VSET) $(PORT) $(A)")
    field(EGU,  "V")
}

record(seq, "$(P)$(R)voltageMonitor")
{
    field(DESC, "Monitor voltage")
    field(PINI, "YES")
    field(SCAN, "1 second")
    field(LNK1, "$(P)$(R)OutputVget.PROC")
    field(LNK2, "$(P)$(R)HVSTABLEstatus.PROC")
}

record(ai, "$(P)$(R)OutputVget")
{
    field(DESC, "Output voltage readback")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(VOUT) $(PORT) $(A)")
    field(EGU,  "V")
}

#_________________________________________
#__________ramp calculation_______________
record(aSub, "$(P)$(R)VRAMPcalc"){
    field(DESC, "Calculate ramp step size")
    field(SNAM, "rampcalc")
    #inputs
    field(INPA, "$(P)$(R)OutputVget")
    field(FTA, "DOUBLE")
    field(INPB, "$(P)$(R)desiredHV")
    field(FTB, "DOUBLE")
    field(INPC, "$(P)$(R)VRAMPtimeSet")
    field(FTC, "DOUBLE")
    field(INPD, "$(P)$(R)VRAMPstepSize")
    field(FTD, "DOUBLE")
    field(INPE, "$(P)$(R)VRAMPmode")
    field(FTE, "STRING")
    field(INPF, "$(P)$(R)VRAMPinterval")
    field(FTF, "DOUBLE")
    field(INPG, "$(P)$(R)C_minStepSize")
    field(FTG, "DOUBLE")
    field(INPH, "$(P)$(R)C_minInterval")
    field(FTH, "DOUBLE")
    field(INPI, "$(P)$(R)HVONstatus")
    field(FTI, "SHORT")
    #outputs
    field(OUTA, "$(P)$(R)VRAMPstepSize PP")
    field(FTVA, "DOUBLE")
    field(OUTB, "$(P)$(R)VRAMPinterval PP")
    field(FTVB, "DOUBLE")
    field(OUTC, "$(P)$(R)VRAMPactive PP")
    field(FTVC, "SHORT")
    field(OUTD, "$(P)$(R)E_smallStep PP")
    field(FTVD, "SHORT")
    field(OUTE, "$(P)$(R)VRAMPtimeSet PP")
    field(FTVE, "DOUBLE")

}

#_______________________________________
#_____________constants_________________
record(calc, "$(P)$(R)C_minStepSize"){
    field(DESC, "Minimum step size for automatic ramping")
    field(INPA, "$(P)$(R)VMAX")
    field(INPB, "$(P)$(R)VMIN")
    field(CALC, "ABS(A)>ABS(B) ? B : A") #in negative versions vmin has larger abs value
    field(EGU, "V")
    field(PINI, "YES")
}
record(calc, "$(P)$(R)C_absVMAX"){
    field(DESC, "Minimum step size for automatic ramping")
    field(INPA, "$(P)$(R)VMAX")
    field(INPB, "$(P)$(R)VMIN")
    field(CALC, "ABS(A)>ABS(B) ? A : B") #in negative versions vmin has larger abs value
    #*** hopr and lopr
    field(EGU, "V")
    field(PINI, "YES")
}

#the device needs approximately 1.45 seconds to stabilize voltage after setting before reading it again
#so the minimum interval between steps is set to 1.5 seconds to allow for this
#and the delay after setting voltage before reading back is set to 1.45 seconds
#so that it reads just after it has stabilised but before the next step is set
record(ai, "$(P)$(R)C_minInterval"){
    field(DESC, "Minimum interval between steps")
    field(VAL, "1.5") #1.5 second minimum to allow for voltage stabilizing and reading before setting new val
    field(EGU, "seconds")
    field(PINI, "YES")
}
record(ai, "$(P)$(R)C_vgetDelay"){
    field(DESC, "Delay before reading voltage")
    field(VAL, "1.45") #1.45 second minimum to allow for voltage stabilizing before reading
    field(EGU, "seconds")
    field(PINI, "YES")
}
record(ai, "$(P)$(R)C_Tolerance"){
    field(DESC, "Tolerance for ramping")
    field(PINI, "YES")
    field(VAL, "4") #dependent on model ***
}
record(ai, "$(P)$(R)C_Precision"){
    field(DESC, "number of decimal places")
    field(PINI, "YES")
    field(VAL, "2") #dependent on model
}

record(ai, "$(P)$(R)voltageLimitSET"){
    field(DESC, "Maximum voltage for device")
    field(PINI, "YES")
#***
    field(EGU, "V")
}
record(ai, "$(P)$(R)voltageLimitNegativeSET"){
    field(DESC, "Maximum voltage (-ve polarity)")
    field(PINI, "YES")
#***
    field(EGU, "V")
}

record(ai, "$(P)$(R)currentLimitmA"){
    field(DESC, "Maximum current for device")
    field(PINI, "YES")
    #val and HOPR passed in from C_IMAXmA on start
    field(EGU, "mA")
    field(FLNK, "$(P)$(R)currentLimitA")
}
record(calc, "$(P)$(R)currentLimitA"){
    field(DESC, "Convert input to A for device")
    field(INPA, "$(P)$(R)currentLimitmA")
    field(CALC, "A/1000")
    field(EGU, "A")
    field(PREC, "4")
}

record(ai, "$(P)$(R)currentTripLimitmA"){
    field(DESC, "Maximum current trip limit for device")
    #val and HOPR passed in from C_IMAXmA on start
    field(EGU, "mA")
    field(PREC, "2")
    field(FLNK, "$(P)$(R)currentTripLimitA")
}
record(calc, "$(P)$(R)currentTripLimitA"){
    field(DESC, "Convert input to A for device")
    field(INPA, "$(P)$(R)currentTripLimitmA")
    field(CALC, "A/1000")
    field(EGU, "A")
    field(PREC, "4")
}
record(calc, "$(P)$(R)C_IMAXmA"){
    field(DESC, "Convert IMAX to mA for display")
    field(INPA, "$(P)$(R)IMAX")
    field(CALC, "A*1000")
    field(EGU, "mA")
    field(PREC, "2")
    field(PINI, "YES")
}

record(ai, "$(P)$(R)VMAX"){
    field(DESC, "Maximum voltage for device")
    field(EGU, "V")
}
record(ai, "$(P)$(R)VMIN"){
    field(DESC, "Maximum voltage for device")
    field(EGU, "V")
}

record(ai, "$(P)$(R)IMAX"){
    field(DESC, "Maximum current for device")
    field(EGU, "A")
    field(PREC, "4")
}
record(ai, "$(P)$(R)IMIN"){
    field(DESC, "Minimum current for device")
    field(EGU, "A")
    field(PREC, "4")
}

record(seq,"$(P)$(R)setOnStart"){
    #HOPR and LOPR can't take values from links and can only take doubles
    #So values must be passed in through sequence
    field(DESC, "sets values from constants")
    field(DOL1, "$(P)$(R)C_minInterval PP")
    field(LNK1, "$(P)$(R)VRAMPtimeSet.LOPR PP")
    field(DOL2, "$(P)$(R)C_minInterval")
    field(LNK2, "$(P)$(R)VRAMPinterval.LOPR PP")
    field(DOL3, "$(P)$(R)C_minInterval")
    field(LNK3, "$(P)$(R)VRAMPtimeSet PP")
    field(DOL4, "$(P)$(R)C_minInterval")
    field(LNK4, "$(P)$(R)VRAMPinterval PP")
    field(DOL5, "$(P)$(R)C_IMAXmA PP")
    field(LNK5, "$(P)$(R)currentLimitmA.HOPR PP")
    field(DOL6, "$(P)$(R)C_IMAXmA")
    field(LNK6, "$(P)$(R)currentTripLimitmA.HOPR PP")
    field(LNK7, "$(P)$(R)resetLimits.PROC PP")
    field(DOL8, "$(P)$(R)C_minInterval")
    field(LNK8, "$(P)$(R)VRAMPinterval.DRVL PP")
}

#when changes are applied from the limit menu, set the device limits to the new values
record(seq,"$(P)$(R)setNewLimits"){
    field(DESC, "sets limits from constants")
    field(DOL1, "$(P)$(R)voltageLimit PP")
    field(LNK1, "$(P)$(R)VLIMset PP")
    field(DOL2, "$(P)$(R)currentLimitA PP")
    field(LNK2, "$(P)$(R)ILIMset PP")
    field(DOL3, "$(P)$(R)currentTripLimitA PP")
    field(LNK3, "$(P)$(R)ITRPset PP")
    field(DOL4, "$(P)$(R)voltageLimit")
    field(LNK4, "$(P)$(R)VRAMPstepSize.HOPR PP")
    field(DOL5, "$(P)$(R)voltageLimit")
    field(LNK5, "$(P)$(R)desiredHV.HOPR")
    field(DOL6, "$(P)$(R)voltageLimit")
    field(LNK6, "$(P)$(R)HVset.HOPR")
    field(DOL7, "$(P)$(R)voltageLimit")
    field(LNK7, "$(P)$(R)HVset.DRVH PP")
    field(DOL8, "$(P)$(R)voltageLimit")
    field(LNK8, "$(P)$(R)OutputVget.HOPR PP")
    field(DOL9, "$(P)$(R)voltageLimit")
    field(LNK9, "$(P)$(R)desiredHV.DRVH PP")

}

#If the menu is closed before changes are applied, limit values are changed back to what they were previously
record(seq, "$(P)$(R)limitMenuClosed"){
    field(DESC, "Sequence to run when limit menu closed")
    field(DOL1, "$(P)$(R)VLIMget PP")
    field(LNK1, "$(P)$(R)voltageLimit PP")
    field(DOL2, "$(P)$(R)ILIMmA")
    field(LNK2, "$(P)$(R)currentLimitmA PP")
    field(DOL3, "$(P)$(R)ITRPmA")
    field(LNK3, "$(P)$(R)currentTripLimitmA PP")
}

#If limits are reset to default from the menu, set device limits to default values
record(seq, "$(P)$(R)resetLimits"){
    field(DESC, "Reset limits to default from device")
    field(DOL1, "$(P)$(R)VMAX")
    field(LNK1, "$(P)$(R)voltageLimit PP")
    field(DOL2, "$(P)$(R)C_IMAXmA")
    field(LNK2, "$(P)$(R)currentLimitmA PP")
    field(DOL3, "$(P)$(R)C_IMAXmA")
    field(LNK3, "$(P)$(R)currentTripLimitmA PP")
}

record(bi, "$(P)$(R)limitMenuOpen"){
    field(DESC, "Open/close limit menu (ui)")
    field(ZNAM, "Closed")
    field(ONAM, "Open")
    field(PINI, "YES")
}


#__________________________________________
#_____________error messages_______________

record(bo,"$(P)$(R)E_smallStep"){
    field(DESC, "Warning for step being too small")
    field(ZNAM, "Safe")
    field(ONAM, "Voltage change below min")
    field(OUT, "$(P)$(R)errorMessage PP")
    field(PINI, "YES")
}
#mbbi to hold error messages, to be updated with more error statuses if needed
record(mbbi, "$(P)$(R)errorMessage"){
    field(DESC, "Error message for ramping")
    field(PINI, "YES")
    field(ZRST, "No Error")
    field(ONST, "Voltage change below min")
}

record(ai, "$(P)$(R)startVoltage"){
    field(DESC, "Voltage at start of ramp")
    field(EGU, "V")
    field(PINI, "YES")
}

#______________________________________________
#__________Autoscale for data browser__________

#data browser doesn't allow for changing the y axis limits using rules
#so instead, autoscale is used and two pvs are plotted invisibly on the graph to control it
#the autoscale pvs are calculated differently depending on whether it is ramping or idle

#calculate y axis max and min for ramping
#calculated such that y axis shows between starting voltage and target voltage plus a small margin
record(calc, "$(P)$(R)YaxisMax"){
    field(DESC, "calc Y axis maximum")
    field(INPA, "$(P)$(R)desiredHV")
    field(INPB, "$(P)$(R)startVoltage")
    field(INPC, "$(P)$(R)C_minStepSize")
    field(CALC, "MAX(A,B)+C")

}
record(calc, "$(P)$(R)YaxisMin"){
    field(DESC, "calc Y axis minimum")
    field(INPA, "$(P)$(R)desiredHV")
    field(INPB, "$(P)$(R)startVoltage")
    field(INPC, "$(P)$(R)C_minStepSize")
    field(CALC, "MIN(A,B)-C")
}

#calculates y axis max and min for idle state
#calculated to show maximum 5000V on Y axis when idle plus a small margin
#for readability of graph when not ramping
record(calc, "$(P)$(R)idleYaxisMax"){
    field(DESC, "Set Y axis max when not ramping")
    field(INPA, "$(P)$(R)OutputVget")
    field(INPB, "$(P)$(R)C_minStepSize")
    field(CALC, "A + B")
}

record(calc, "$(P)$(R)idleYaxisMin"){
    field(DESC, "Set Y axis min when not ramping")
    field(INPA, "$(P)$(R)OutputVget")
    field(INPB, "$(P)$(R)C_minStepSize")
    field(INPC, "$(P)$(R)graphScale")
    field(CALC, "A>C ? A - C : 0")
    
}

record(ai, "$(P)$(R)graphScale"){
    field(DESC, "Margin for graph y axis when idle")
    field(VAL, "5000") #5000V margin by default
    field(EGU, "V")
    field(PINI, "YES")
}

#pvs to be plotted invisibly on the graph to control the autoscale feature in data browser
record(ai, "$(P)$(R)autoscaleControlMax"){
    field(DESC, "Control autoscale maximum")
}

record(ai, "$(P)$(R)autoscaleControlMin"){
    field(DESC, "Control autoscale minimum")
}

#sequences to set autoscale pvs to the calculated values
record(seq, "$(P)$(R)idleZoom"){
    field(DESC, "Auto zoom data browser")
    field(DOL1, "$(P)$(R)idleYaxisMax PP")
    field(LNK1, "$(P)$(R)autoscaleControlMax PP")
    field(DOL2, "$(P)$(R)idleYaxisMin PP")
    field(LNK2, "$(P)$(R)autoscaleControlMin PP")
    field(PINI, "YES")
}
record(seq, "$(P)$(R)rampZoom"){
    field(DESC, "Auto zoom data browser")
    field(DOL1, "$(P)$(R)YaxisMax")
    field(LNK1, "$(P)$(R)autoscaleControlMax PP")
    field(DOL2, "$(P)$(R)YaxisMin")
    field(LNK2, "$(P)$(R)autoscaleControlMin PP")
    
}

record(bi, "$(P)$(R)toolbarShow"){
    field(DESC, "Show/hide toolbar in ui")
    field(ZNAM, "Hide Toolbar")
    field(ONAM, "Show Toolbar")
    field(VAL, "0")
    field(PINI, "YES")
}
record(ai, "$(P)$(R)currentYaxisMax"){
    field(DESC, "Current y axis max for data browser")
    field(PINI, "YES")
    field(VAL, "$(IMAX)")#***
}
record(ai, "$(P)$(R)currentYaxisMin"){
    field(DESC, "Current y axis min for data browser")
    field(PINI, "YES")
    field(VAL, "0")
}

#____________________________________________
#___________End of ramp sequence_____________

record(seq, "$(P)$(R)endCharge")
{
    field(DESC, "Sequence to end HV charge")
    field(DO1, "0")
    field(LNK1, "$(P)$(R)VRAMPactive PP")
    field(DO2, "6")#DO field only takes double, 6 represents 1 second scan
    field(LNK2, "$(P)$(R)voltageMonitor.SCAN")
    field(LNK5, "$(P)$(R)idleZoom PP")
}

#______________________________________________
#_______________Reset button__________________

record(seq, "$(P)$(R)hardReset"){
    field(DESC, "Hard reset sequence")
    field(DO1, "0")
    field(LNK1, "$(P)$(R)HVenable PP")
    field(DO2, "1")
    field(LNK2, "$(P)$(R)TripClearSeq.PROC")
    field(LNK3, "$(P)$(R)ResetDevice.PROC PP")
}

record(bo, "$(P)$(R)ResetDevice")
{
    field(DESC, "Reset device")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto cmd(RST) $(PORT) $(A)")
    field(ZNAM, "Reset Device")
    field(ONAM, "Reset Device")
}

record(seq, "$(P)$(R)tripClearSeq"){
    field(DESC, "Sequence to clear trip and reset device")
    field(DO1, "0")
    field(LNK1, "$(P)$(R)TripStatus PP")
    field(DO2, "1")
    field(LNK2, "$(P)$(R)TripClear.PROC PP")
    field(LNK3, "$(P)$(R)ReadbackPoll_.PROC PP")
}


#_________________________________________________________
#____________Polarity and substitutions___________________


#check polarity on startup
record(bo, "$(P)$(R)DefaultSettings")
{
    field(DESC, "Reset settings to default")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto cmd(RCL 0) $(PORT) $(A)")
    field(ZNAM, "Reset to default settings")
    field(ONAM, "Reset to default settings")
    field(FLNK, "$(P)$(R)checkPolarity")
    field(PINI, "YES")
}

record(calcout, "$(P)$(R)checkPolarity")
{
    field(DESC, "Check device polarity on startup")
    field(INPA, "$(P)$(R)VLIMget PP")
    field(CALC, "A<0 ? 1 : 0") #if VLIMget is negative, device is negative polarity
    field(OUT, "$(P)$(R)polarity PP")
}

record(bi, "$(P)$(R)polarity")
{
    field(DESC, "Device polarity")
    field(ZNAM, "+ve")
    field(ONAM, "-ve")
    #field(VAL, "$(POLARITY)") # Dependent on model
    #field(PINI, "YES")
    field(FLNK, "$(P)$(R)callSubstitutionsPOS")
    field(TPRO, "1")
}

record(calcout, "$(P)$(R)callSubstitutionsPOS")
{
    field(DESC, "Set substitutions based on polarity")
    field(INPA, "$(P)$(R)polarity")
    field(CALC, "A")
    field(OCAL, "1")
    field(OOPT, "When Zero")
    field(OUT, "$(P)$(R)SRS$(MODEL):0:setSubstitutions.PROC")
    field(FLNK, "$(P)$(R)callSubstitutionsNEG")
    field(PINI, "YES")
}
record(calcout, "$(P)$(R)callSubstitutionsNEG")
{
    field(DESC, "Set substitutions based on polarity")
    field(INPA, "$(P)$(R)polarity")
    field(CALC, "A")
    field(OCAL, "1")
    field(OOPT, "When Non-zero")
    field(OUT, "$(P)$(R)SRS$(MODEL):1:setSubstitutions.PROC")
}
record(seq, "$(P)$(R)SRS$(MODELNO):$(POLARITYMODE):setSubstitutions"){
    field(DESC, "Set substitutions based on polarity")
    field(DO0, "$(VMAX)")
    field(LNK0, "$(P)$(R)VLIMset.HOPR PP")
    field(DO1, "$(VMAX)")
    field(LNK0, "$(P)$(R)VLIMset.DRVH PP")
    field(DO2, "$(VMIN)")
    field(LNK2, "$(P)$(R)VLIMset.LOPR PP")
    field(DO3, "$(VMIN)")
    field(LNK3, "$(P)$(R)VLIMset.DRVL PP")
    field(DO4, "$(VMAX)")
    field(LNK4, "$(P)$(R)VMAX PP")
    field(DO5, "$(VMIN)")
    field(LNK5, "$(P)$(R)VMIN PP")
    field(DO6, "$(IMAX)")
    field(LNK6, "$(P)$(R)IMAX PP")
    field(DO7, "$(IMIN)")
    field(LNK7, "$(P)$(R)IMIN PP")
    field(DO8, "$(VMAX)")
    field(LNK8, "$(P)$(R)VLIMget.HOPR PP")
    field(DO9, "$(VMAX)")
    field(LNK9, "$(P)$(R)VLIMget.DRVH PP")
    field(DOA, "$(VMIN)")
    field(LNKA, "$(P)$(R)VLIMget.LOPR PP")
    field(DOB, "$(VMIN)")
    field(LNKB, "$(P)$(R)VLIMget.DRVL PP")
    field(DOC, "$(IMAX)")
    field(LNKC, "$(P)$(R)ILIMget.HOPR PP")
    field(DOD, "$(IMAX)")
    field(LNKD, "$(P)$(R)ILIMget.DRVH PP")
    field(DOE, "$(IMIN)")
    field(LNKE, "$(P)$(R)ILIMget.LOPR PP")
    field(DOF, "$(IMIN)")
    field(LNKF, "$(P)$(R)ILIMget.DRVL PP")
    field(FLNK, "$(P)$(R)SRS$(MODELNO):$(POLARITYMODE):setSubstitutions2")
}
record(seq, "$(P)$(R)SRS$(MODELNO):$(POLARITYMODE):setSubstitutions2"){
    field(DESC, "Set substitutions based on polarity")
    field(DO0, "$(IMAX)")
    field(LNK0, "$(P)$(R)ILIMset.HOPR PP")
    field(DO1, "$(IMAX)")
    field(LNK1, "$(P)$(R)ILIMset.DRVH PP")
    field(DO2, "$(IMIN)")
    field(LNK2, "$(P)$(R)ILIMset.LOPR PP")
    field(DO3, "$(IMIN)")
    field(LNK3, "$(P)$(R)ILIMset.DRVL PP")
    field(DO4, "$(IMAX)")
    field(LNK4, "$(P)$(R)ITRPset.HOPR PP")
    field(DO5, "$(IMAX)")
    field(LNK5, "$(P)$(R)ITRPset.DRVH PP")
    field(DO6, "$(IMIN)")
    field(LNK6, "$(P)$(R)ITRPset.LOPR PP")
    field(DO7, "$(IMIN)")
    field(LNK7, "$(P)$(R)ITRPset.DRVL PP")
    field(DO8, "$(IMAX)")
    field(LNK8, "$(P)$(R)ITRPget.HOPR PP")
    field(DO9, "$(IMIN)")
    field(LNK9, "$(P)$(R)ITRPget.LOPR PP")
    field(DOA, "$(VMIN)")
    field(LNKA, "$(P)$(R)VRAMPstepSize.LOPR PP")
    field(DOLB, "$(P)$(R)minStepSize PP")
    field(LNKB, "$(P)$(R)VRAMPstepSize PP")
    field(DOC, "$(VMAX)")
    field(LNKA, "$(P)$(R)VRAMPstepSize.HOPR PP")
    field(DOC, "$(VMAX)")
    field(LNKC, "$(P)$(R)VRAMPstepSize.DRVH PP")
    field(DOD, "$(VMIN)")
    field(LNKD, "$(P)$(R)VRAMPstepSize.DRVL PP")
    field(DOE, "$(VMAX)")
    field(LNKE, "$(P)$(R)desiredHV.HOPR PP")
    field(DOF, "$(VMAX)")
    field(LNKF, "$(P)$(R)desiredHV.DRVH PP")
    field(FLNK, "$(P)$(R)SRS$(MODELNO):$(POLARITYMODE):setSubstitutions3")
}
record(seq, "$(P)$(R)SRS$(MODELNO):$(POLARITYMODE):setSubstitutions3"){
    field(DESC, "Set substitutions based on polarity")
    field(DO0, "$(VMIN)")
    field(LNK0, "$(P)$(R)desiredHV.LOPR PP")
    field(DO1, "$(VMIN)")
    field(LNK1, "$(P)$(R)desiredHV.DRVL PP")
    field(DO2, "$(VMAX)")
    field(LNK2, "$(P)$(R)HVset.HOPR PP")
    field(DO3, "$(VMIN)")
    field(LNK3, "$(P)$(R)HVset.LOPR PP")
    field(DO4, "$(VMAX)")
    field(LNK4, "$(P)$(R)OutputVget.HOPR PP")
    field(DO5, "$(VMIN)")
    field(LNK5, "$(P)$(R)OutputVget.LOPR PP")
    field(DO6, "$(IMAX)")
    field(LNK6, "$(P)$(R)ILIMset PP")
    field(DO7, "$(IMAX)")
    field(LNK7, "$(P)$(R)ITRPset PP")
    field(DO6, "$(VMAX)")
    field(LNK6, "$(P)$(R)VLIMset PP")
    field(FLNK, "$(P)$(R)setOnStart")
}