##########################################################################
# Copyright (c) 2012 Lawrence Berkeley National Laboratory, Accelerator
# Technology Group, Engineering Division
# This code is distributed subject to a Software License Agreement found
# in file LICENSE that is included with this distribution.
##########################################################################

#____________Temp proto commands_____________
#----------------------------------------------

record(waveform, "$(P)$(R)IDN")
{
    field(DESC, "SCPI identification string")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getIDN(79) $(PORT) $(A)")
    field(PINI, "YES")
    field(FTVL, "CHAR")
    field(NELM, "80")
}
record(bi, "$(P)$(R)polarity")
{
    field(DESC, "Device polarity")
    field(DTYP, "")
    field(ZNAM, "+ve")
    field(ONAM, "-ve On")
    field(VAL, "-1") # Dependant on model
}
record(longin, "$(P)$(R)getESR")
{
    field(DESC, "SCPI get event status")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getD(*ESR) $(PORT) $(A)")
}
record(bo, "$(P)$(R)TripClear")
{
    field(DESC, "Clear a trip")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto cmd(TCLR) $(PORT) $(A)")
    field(ZNAM, "Clear")
    field(ONAM, "Clear")
    field(HIGH, "1")
    field(FLNK, "$(P)$(R)getSTB")
}

record(ao, "$(P)$(R)VLIMset")
{
    field(DESC, "Set output voltage limit")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(VLIM) $(PORT) $(A)")
    field(EGU,  "V")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(DRVL, "$(VMIN)")
    field(DRVH, "$(VMAX)")
    field(PREC, "$(PREC)")
    field(FLNK, "$(P)$(R)VLIMget")
}
record(ai, "$(P)$(R)VLIMget")
{
    field(DESC, "Get output voltage limit")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(VLIM) $(PORT) $(A)")
    field(EGU,  "V")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(PREC, "$(PREC)")
    field(PINI, "YES")
}
record(ao, "$(P)$(R)ILIMset")
{
    field(DESC, "Set output current limit")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(ILIM) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "$(IMIN)")
    field(HOPR, "$(IMAX)")
    field(DRVL, "$(IMIN)")
    field(DRVH, "$(IMAX)")
    field(PREC, "$(PREC)")
    field(FLNK, "$(P)$(R)ILIMget")
}
record(ai, "$(P)$(R)ILIMget")
{
    field(DESC, "Get output current limit")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(ILIM) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "$(IMIN)")
    field(HOPR, "$(IMAX)")
    field(PREC, "$(PREC)")
    field(PINI, "YES")
}
record(ao, "$(P)$(R)ITRPset")
{
    field(DESC, "Set output current trip limit")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(ITRP) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "0")
    field(HOPR, "$(IMAX)")
    field(DRVL, "$(IMIN)")
    field(DRVH, "$(IMAX)")
    field(PREC, "$(PREC)")
    field(FLNK, "$(P)$(R)ITRPget")
}
record(ai, "$(P)$(R)ITRPget")
{
    field(DESC, "Get output current trip limit")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(ITRP) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "0")
    field(HOPR, "$(IMAX)")
    field(PREC, "$(PREC)")
    field(PINI, "YES")
}

#
# Dummy record to trigger readbacks
#
record(seq, "$(P)$(R)ReadbackPoll_")
{
    field(DESC, "Head of readback chain")
    field(PINI, "YES")
    field(SCAN, "1 second")
    field(LNK1, "$(P)$(R)getSTB.PROC")
    field(LNK2, "$(P)$(R)OutputIget.PROC")
}

record(mbbiDirect, "$(P)$(R)getSTB")
{
    field(DESC, "SCPI get status byte")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getD(*STB) $(PORT) $(A)")
    field(FLNK, "$(P)$(R)HVONstatus")
    field(SIML, "$(P)$(R)SIM")
    field(SIOL, "$(P)$(R)SIM:STB")
}
record(bi, "$(P)$(R)HVONstatus")
{
    field(DESC, "Is HV on?")
    field(INP,  "$(P)$(R)getSTB.B7 NPP MS")
    field(ZNAM, "Off")
    field(ONAM, "On")
    field(FLNK, "$(P)$(R)ILIMstatus")
}
record(bi, "$(P)$(R)ILIMstatus")
{
    field(DESC, "Is current limited?")
    field(INP,  "$(P)$(R)getSTB.B3 NPP MS")
    field(ZNAM, "No limit")
    field(ONAM, "Limited")
    field(FLNK, "$(P)$(R)ITRIPstatus")
}
record(bi, "$(P)$(R)ITRIPstatus")
{
    field(DESC, "Tripped on overcurrent?")
    field(INP,  "$(P)$(R)getSTB.B2 NPP MS")
    field(ZNAM, "Not tripped")
    field(ONAM, "Tripped")
    field(FLNK, "$(P)$(R)VTRIPstatus")
}
record(bi, "$(P)$(R)VTRIPstatus")
{
    field(DESC, "Tripped on overvoltage?")
    field(INP,  "$(P)$(R)getSTB.B1 NPP MS")
    field(ZNAM, "Not tripped")
    field(ONAM, "Tripped")
    field(FLNK, "$(P)$(R)HVSTABLEstatus")
}
record(bi, "$(P)$(R)HVSTABLEstatus")
{
    field(DESC, "HV stable?")
    field(INP,  "$(P)$(R)getSTB.B0 NPP MS")
    field(ZNAM, "Unstable")
    field(ONAM, "Stable")
}

record(ai, "$(P)$(R)OutputIget")
{
    field(DESC, "Output current readback")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(IOUT) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "0")
    field(HOPR, "500.0e-6")
    field(PREC, "$(PREC)")
    field(SIML, "$(P)$(R)SIM")
    field(SIOL, "$(P)$(R)SIM:OutputIget")
}
#________________________________________________________



record(bo, "$(P)$(R)HVenable")
{#Turn high voltage on/off
    field(DESC, "Enable output")
    field(DTYP, "stream")
    field(VAL, "0")
    field(OUT,  "@ps300.proto hvOffOn $(PORT) $(A)")
    field(ZNAM, "Turn Off")
    field(ONAM, "Turn On")
    field(PINI, "YES")
    field(FLNK, "$(P)$(R)getSTB")
}

#____________________________________________
#_________Start ramping process______________

record(bi, "$(P)$(R)chargeStartHelper")
{
    field(DESC, "Helper record to start HV charge")
    field(FLNK, "$(P)$(R)StartCharge")
}
record(seq, "$(P)$(R)StartCharge")
{
    field(DESC, "Sequence to start HV charge")
    #set scan to passive (0 as DO1 only takes doubles) 
    #so while ramping voltage is only checked after being set and not continuously
    field(DO1, "0")
    field(LNK1, "$(P)$(R)voltageMonitor.SCAN")
    #set delay to 1.45 seconds to allow for voltage to stabilize once set beore being checked again
    field(DOL2, "$(P)$(R)C_vgetDelay") 
    field(LNK2, "$(P)$(R)voltageMonitor.DLY1")
    #process ramp value calculation
    field(LNK3, "$(P)$(R)VRAMPcalc PP")
}

record(bi, "$(P)$(R)VRAMPactive")
{#when set to 1 ("Ramping") the state machine will begin the ramping process
    field(DESC, "Is charge active?")
    field(ZNAM, "Idle")
    field(ONAM, "Ramping")
}

#_____________________________________________
#______User set ramp parameters_______________

record(ai, "$(P)$(R)VRAMPtimeSet"){
    #LOPR and VAl passed in from setOnStart as cannot be set to a pv directly
    field(DESC, "Set desired ramp time")
    field(HOPR, "1000000")#HOPR must be set and setting to Inf is not supported by ui
    field(EGU,  "seconds")
    field(PINI, "YES")
}
record(ai, "$(P)$(R)VRAMPinterval") {
    #^^above comments apply
    field(DESC, "Set ramp up interval") 
    field(HOPR, "1000000")
    field(EGU, "seconds")
    field(PINI, "YES")
}

record(ai, "$(P)$(R)VRAMPstepSize"){
    field(DESC, "Set voltage ramp step size")
    field(VAL, "$(VMIN)") 
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(PINI, "YES")
}

record(bi, "$(P)$(R)VRAMPmode"){
    field(DESC, "Set ramp mode")
    field(PINI, "YES")
    field(VAL, "0") #Automatic mode by default
    #automatic means calculation is performed, manual means user sets step size and interval
    field(ZNAM, "Automatic")
    field(ONAM, "Manual")
}

record(ai, "$(P)$(R)desiredHV")
{
    field(DESC, "Set target output voltage")
    field(EGU,  "V")
    field(VAL, "$(VMIN)")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(PREC, "$(PREC)")
    field(PINI, "YES")
}
#__________________________________________
#__________Voltage get and set_____________

record(ao, "$(P)$(R)HVset")
{#sets the device's high voltage, should only be set through the state machine's ramping process
    field(DESC, "Set output voltage")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(VSET) $(PORT) $(A)")
    field(EGU,  "V")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(DRVL, "$(VMIN)")
    field(DRVH, "$(VMAX)")
    field(PREC, "$(PREC)")
    field(FLNK, "$(P)$(R)voltageMonitor")
}

record(seq, "$(P)$(R)voltageMonitor")
{
    field(DESC, "Monitor voltage")
    field(PINI, "YES")
    field(SCAN, "1 second")
    field(LNK1, "$(P)$(R)OutputVget.PROC")
}

record(ai, "$(P)$(R)OutputVget")
{
    field(DESC, "Output voltage readback")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(VOUT) $(PORT) $(A)")
    field(EGU,  "V")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(PREC, "$(PREC)")
}

#_________________________________________
#__________ramp calculation_______________
record(aSub, "$(P)$(R)VRAMPcalc"){
    field(DESC, "Calculate ramp step size")
    field(SNAM, "rampcalc")
    #inputs
    field(INPA, "$(P)$(R)OutputVget")
    field(FTA, "DOUBLE")
    field(INPB, "$(P)$(R)desiredHV")
    field(FTB, "DOUBLE")
    field(INPC, "$(P)$(R)VRAMPtimeSet")
    field(FTC, "DOUBLE")
    field(INPD, "$(P)$(R)VRAMPstepSize")
    field(FTD, "DOUBLE")
    field(INPE, "$(P)$(R)VRAMPmode")
    field(FTE, "SHORT")
    field(INPF, "$(P)$(R)VRAMPinterval")
    field(FTF, "DOUBLE")
    field(INPG, "$(P)$(R)C_minStepSize")
    field(FTG, "DOUBLE")
    field(INPH, "$(P)$(R)C_minInterval")
    field(FTH, "DOUBLE")
    #outputs
    field(OUTA, "$(P)$(R)VRAMPstepSize PP")
    field(FTVA, "DOUBLE")
    field(OUTB, "$(P)$(R)VRAMPinterval PP")
    field(FTVB, "DOUBLE")
    field(OUTC, "$(P)$(R)VRAMPactive PP")
    field(FTVC, "SHORT")

}

#_______________________________________
#_____________constants_________________
record(ai, "$(P)$(R)C_minStepSize"){
    field(DESC, "Minimum step size for automatic ramping")
    field(VAL, "$(VMIN)") 
    field(LOPR, "$(VMIN)")
    field(EGU, "V")
    field(PINI, "YES")
}

#the device needs approximately 1.45 seconds to stabilize voltage after setting before reading it again
#so the minimum interval between steps is set to 1.5 seconds to allow for this
#and the delay after setting voltage before reading back is set to 1.45 seconds
#so that it reads just after it has stabilised but before the next step is set
record(ai, "$(P)$(R)C_minInterval"){
    field(DESC, "Minimum interval between steps")
    field(VAL, "1.5") #1.5 second minimum to allow for voltage stabilizing and reading before setting new val
    field(EGU, "seconds")
    field(PINI, "YES")
    field(FLNK, "$(P)$(R)setOnStart")
}
record(ai, "$(P)$(R)C_vgetDelay"){
    field(DESC, "Delay before reading voltage")
    field(VAL, "1.45") #1.45 second minimum to allow for voltage stabilizing before reading
    field(EGU, "seconds")
    field(PINI, "YES")
}
record(ai, "$(P)$(R)C_Tolerance"){
    field(DESC, "Tolerance for ramping")
    field(PINI, "YES")
    field(VAL, "$(TOLERANCE)") #dependant on model
}
record(ai, "$(P)$(R)C_Precision"){
    field(DESC, "number of decimal places")
    field(PINI, "YES")
    field(VAL, "$(PREC)")
}
record(seq,"$(P)$(R)setOnStart"){
    #HOPR and LOPR can't take values from links and can only take doubles
    #So values must be passed in through sequence
    field(DESC, "sets values from constants")
    field(DOL1, "$(P)$(R)C_minInterval")
    field(LNK1, "$(P)$(R)VRAMPtimeSet.LOPR PP")
    field(DOL2, "$(P)$(R)C_minInterval")
    field(LNK2, "$(P)$(R)VRAMPinterval.LOPR PP")
    field(DOL3, "$(P)$(R)C_minInterval")
    field(LNK3, "$(P)$(R)VRAMPtimeSet PP")
    field(DOL4, "$(P)$(R)C_minInterval")
    field(LNK4, "$(P)$(R)VRAMPinterval PP")    
}