##########################################################################
# Copyright (c) 2012 Lawrence Berkeley National Laboratory, Accelerator
# Technology Group, Engineering Division
# This code is distributed subject to a Software License Agreement found
# in file LICENSE that is included with this distribution.
##########################################################################

#____________Temp proto commands_____________
#----------------------------------------------

record(waveform, "$(DEVICE):IDN")
{
    field(DESC, "SCPI identification string")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getIDN(79) $(PORT) $(A)")
    field(PINI, "YES")
    field(FTVL, "CHAR")
    field(NELM, "80")
}

record(longin, "$(DEVICE):getESR")
{
    field(DESC, "SCPI get event status")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getD(*ESR) $(PORT) $(A)")
}
record(bo, "$(DEVICE):TripClear")
{
    field(DESC, "Clear a trip")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto cmd(TCLR) $(PORT) $(A)")
    field(ZNAM, "Clear")
    field(ONAM, "Clear")
    field(HIGH, "1")
    field(FLNK, "$(DEVICE):getSTB")
}

record(ao, "$(DEVICE):VLIMset")
{
    field(DESC, "Set output voltage limit")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(VLIM) $(PORT) $(A)")
    field(EGU,  "V")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(DRVL, "$(VMIN)")
    field(DRVH, "$(VMAX)")
    field(PREC, "$(PREC)")
    field(FLNK, "$(DEVICE):VLIMget")
}
record(ai, "$(DEVICE):VLIMget")
{
    field(DESC, "Get output voltage limit")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(VLIM) $(PORT) $(A)")
    field(EGU,  "V")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(PREC, "$(PREC)")
    field(PINI, "YES")
}
record(ao, "$(DEVICE):ILIMset")
{
    field(DESC, "Set output current limit")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(ILIM) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "$(IMIN)")
    field(HOPR, "$(IMAX)")
    field(DRVL, "$(IMIN)")
    field(DRVH, "$(IMAX)")
    field(PREC, "$(PREC)")
    field(FLNK, "$(DEVICE):ILIMget")
}
record(ai, "$(DEVICE):ILIMget")
{
    field(DESC, "Get output current limit")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(ILIM) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "$(IMIN)")
    field(HOPR, "$(IMAX)")
    field(PREC, "$(PREC)")
    field(PINI, "YES")
}
record(ao, "$(DEVICE):ITRPset")
{
    field(DESC, "Set output current trip limit")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(ITRP) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "0")
    field(HOPR, "$(IMAX)")
    field(DRVL, "$(IMIN)")
    field(DRVH, "$(IMAX)")
    field(PREC, "$(PREC)")
    field(FLNK, "$(DEVICE):ITRPget")
}
record(ai, "$(DEVICE):ITRPget")
{
    field(DESC, "Get output current trip limit")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(ITRP) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "0")
    field(HOPR, "$(IMAX)")
    field(PREC, "$(PREC)")
    field(PINI, "YES")

}
#__________________________________________________________
#
# Dummy record to trigger readbacks


record(fanout, "$(DEVICE):ReadbackPoll_")
{
    field(DESC, "Head of readback chain")
    field(PINI, "YES")
    field(SCAN, "1 second")
    field(LNK1, "$(DEVICE):getSTB")
    field(LNK2, "$(DEVICE):HVONstatus")
    field(LNK3, "$(DEVICE):ILIMstatus")
    field(LNK4, "$(DEVICE):ITRIPstatus")
    field(LNK5, "$(DEVICE):VTRIPstatus")
    field(LNK6, "$(DEVICE):HVSTABLEstatus")
    field(LNK7, "$(DEVICE):OutputIget")
}

record(mbbiDirect, "$(DEVICE):getSTB")
{
    field(DESC, "SCPI get status byte")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getD(*STB) $(PORT) $(A)")
    field(SIML, "$(DEVICE):SIM")
    field(SIOL, "$(DEVICE):SIM:STB")
}
record(bi, "$(DEVICE):HVONstatus")
{
    field(DESC, "Is HV on?")
    field(INP,  "$(DEVICE):getSTB.B7 NPP MS")
    field(ZNAM, "Off")
    field(ONAM, "On")
}
record(bi, "$(DEVICE):ILIMstatus")
{
    field(DESC, "Is current limited?")
    field(INP,  "$(DEVICE):getSTB.B3 NPP MS")
    field(ZNAM, "No limit")
    field(ONAM, "Limited")
}
record(bi, "$(DEVICE):ITRIPstatus")
{
    field(DESC, "Tripped on overcurrent?")
    field(INP,  "$(DEVICE):getSTB.B2 NPP MS")
    field(ZNAM, "Not tripped")
    field(ONAM, "Tripped")
}
record(bi, "$(DEVICE):VTRIPstatus")
{
    field(DESC, "Tripped on overvoltage?")
    field(INP,  "$(DEVICE):getSTB.B1 NPP MS")
    field(ZNAM, "Not tripped")
    field(ONAM, "Tripped")
}
record(bi, "$(DEVICE):HVSTABLEstatus")
{
    field(DESC, "HV stable?")
    field(INP,  "$(DEVICE):getSTB.B0 NPP MS")
    field(ZNAM, "Unstable")
    field(ONAM, "Stable")
    field(FLNK, "$(DEVICE):StableMultiState")
}
record(calc, "$(DEVICE):StableMultiState")
{#while ramping, stability briefly becomes unstable
#to get more accurate LED it should check for if it's unstable twice in a row
    field(INPA, "$(DEVICE):StableMultiState")
    field(INPB, "$(DEVICE):HVSTABLEstatus")
    field(INPC, "$(DEVICE):VRAMPactive")
    field(CALC, "B==0 ? MIN(A+1,3): 1-C") 
    # if unstable, val will be whichever is smallest, A+1 or 3 (meaning it can only increase to maximum 3)
    #if stable it is set back to 1 (or 0 if ramping)
    #states: 1 = stable, 2 = warning, 3 = unstable
    #while ramping states will begin at 0 to allow for 1 extra second of instability which is expected
    

}

record(ai, "$(DEVICE):OutputIget")
{
    field(DESC, "Output current readback")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(IOUT) $(PORT) $(A)")
    field(EGU,  "A")
    field(LOPR, "0")
    field(HOPR, "500.0e-6")
    field(PREC, "$(PREC)")
    field(SIML, "$(DEVICE):SIM")
    field(SIOL, "$(DEVICE):SIM:OutputIget")
}

#________________________________________________________

record(bo, "$(DEVICE):HVenable")
{#Turn high voltage on/off
    field(DESC, "Enable output")
    field(DTYP, "stream")
    field(VAL, "0")
    field(OUT,  "@ps300.proto hvOffOn $(PORT) $(A)")
    field(ZNAM, "Turn Off")
    field(ONAM, "Turn On")
    field(PINI, "YES")
    field(FLNK, "$(DEVICE):HVenableSeq")
}

record(seq, "$(DEVICE):HVenableSeq")
{
    field(DESC, "Sequence to dis/enable HV")
    field(DO1, "$(VMIN)")
    field(LNK1, "$(DEVICE):HVset PP")
    field(DO2, "0")
    field(LNK2, "$(DEVICE):VRAMPactive PP")
    field(LNK3, "$(DEVICE):getSTB.PROC PP")
}

#____________________________________________
#_________Start ramping process______________

record(bi, "$(DEVICE):chargeStartHelper")
{
    field(DESC, "Helper record to start HV charge")
    field(FLNK, "$(DEVICE):StartCharge")
}
record(seq, "$(DEVICE):StartCharge")
{
    field(DESC, "Sequence to start HV charge")
    #get/set values for graphing
    field(DOL3, "$(DEVICE):OutputVget")
    field(LNK3, "$(DEVICE):startVoltage PP")
    field(DO4, "1")
    field(LNK4, "$(DEVICE):YaxisMax.PROC PP")
    field(DO5, "1")
    field(LNK5, "$(DEVICE):YaxisMin.PROC PP")
    field(DOL6, "$(DEVICE):YaxisMin")
    field(LNK6, "$(DEVICE):autoscaleControlMin PP")
    field(DOL7, "$(DEVICE):YaxisMax")
    field(LNK7, "$(DEVICE):autoscaleControlMax PP")
    #calculate ramp parameters
    field(LNK8, "$(DEVICE):VRAMPcalc PP")
}

record(bi, "$(DEVICE):VRAMPactive")
{#when set to 1 ("Ramping") the state machine will begin the ramping process
    field(DESC, "Is charge active?")
    field(ZNAM, "Idle")
    field(ONAM, "Ramping")
    field(PINI, "YES")
}

#_____________________________________________
#______User set ramp parameters_______________

record(ai, "$(DEVICE):VRAMPtimeSet"){
    #LOPR and VAl passed in from setOnStart as cannot be set to a pv directly
    field(DESC, "Set desired ramp time")
    field(HOPR, "1000000")#HOPR must be set and setting to Inf is not supported by ui
    field(EGU,  "seconds")
    field(PINI, "YES")
}
record(ai, "$(DEVICE):VRAMPinterval") {
    #^^above comments apply
    field(DESC, "Set ramp up interval") 
    field(HOPR, "1000000")
    field(EGU, "seconds")
    field(PINI, "YES")
}

record(ai, "$(DEVICE):VRAMPstepSize"){
    field(DESC, "Set voltage ramp step size")
    field(VAL, "$(VMIN)") 
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(PINI, "YES")
}

record(bi, "$(DEVICE):VRAMPmode"){
    field(DESC, "Set ramp mode")
    field(PINI, "YES")
    field(VAL, "0") #Automatic mode by default
    #automatic means calculation is performed, manual means user sets step size and interval
    field(ZNAM, "Automatic")
    field(ONAM, "Manual")
}

record(ao, "$(DEVICE):desiredHV")
{
    field(DESC, "Set target output voltage")
    field(EGU,  "V")
    field(VAL, "$(VMIN)")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(DRVL, "$(VMIN)")
    field(DRVH, "$(VMAX)")
    field(PREC, "$(PREC)")
    field(PINI, "YES")
}
#__________________________________________
#__________Voltage get and set_____________

record(ao, "$(DEVICE):HVset")
{#sets the device's high voltage, should only be set through the state machine's ramping process
    field(DESC, "Set output voltage")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto setting(VSET) $(PORT) $(A)")
    field(EGU,  "V")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(DRVL, "$(VMIN)")
    field(DRVH, "$(VMAX)")
    field(PREC, "$(PREC)")
}

record(seq, "$(DEVICE):voltageMonitor")
{
    field(DESC, "Monitor voltage")
    field(PINI, "YES")
    field(SCAN, "1 second")
    field(LNK1, "$(DEVICE):OutputVget.PROC")
}

record(ai, "$(DEVICE):OutputVget")
{
    field(DESC, "Output voltage readback")
    field(DTYP, "stream")
    field(INP,  "@ps300.proto getF(VOUT) $(PORT) $(A)")
    field(EGU,  "V")
    field(LOPR, "$(VMIN)")
    field(HOPR, "$(VMAX)")
    field(PREC, "$(PREC)")
}

#_________________________________________
#__________ramp calculation_______________
record(aSub, "$(DEVICE):VRAMPcalc"){
    field(DESC, "Calculate ramp step size")
    field(SNAM, "rampcalc")
    #inputs
    field(INPA, "$(DEVICE):OutputVget")
    field(FTA, "DOUBLE")
    field(INPB, "$(DEVICE):desiredHV")
    field(FTB, "DOUBLE")
    field(INPC, "$(DEVICE):VRAMPtimeSet")
    field(FTC, "DOUBLE")
    field(INPD, "$(DEVICE):VRAMPstepSize")
    field(FTD, "DOUBLE")
    field(INPE, "$(DEVICE):VRAMPmode")
    field(FTE, "STRING")
    field(INPF, "$(DEVICE):VRAMPinterval")
    field(FTF, "DOUBLE")
    field(INPG, "$(DEVICE):C_minStepSize")
    field(FTG, "DOUBLE")
    field(INPH, "$(DEVICE):C_minInterval")
    field(FTH, "DOUBLE")
    #outputs
    field(OUTA, "$(DEVICE):VRAMPstepSize PP")
    field(FTVA, "DOUBLE")
    field(OUTB, "$(DEVICE):VRAMPinterval PP")
    field(FTVB, "DOUBLE")
    field(OUTC, "$(DEVICE):VRAMPactive PP")
    field(FTVC, "SHORT")
    field(OUTD, "$(DEVICE):E_smallStep PP")
    field(FTVD, "SHORT")
    field(OUTE, "$(DEVICE):VRAMPtimeSet PP")
    field(FTVE, "DOUBLE")

}

#_______________________________________
#_____________constants_________________
record(ai, "$(DEVICE):C_minStepSize"){
    field(DESC, "Minimum step size for automatic ramping")
    field(VAL, "$(VMIN)") 
    field(LOPR, "$(VMIN)")
    field(EGU, "V")
    field(PINI, "YES")
}

#the device needs approximately 1.45 seconds to stabilize voltage after setting before reading it again
#so the minimum interval between steps is set to 1.5 seconds to allow for this
#and the delay after setting voltage before reading back is set to 1.45 seconds
#so that it reads just after it has stabilised but before the next step is set
record(ai, "$(DEVICE):C_minInterval"){
    field(DESC, "Minimum interval between steps")
    field(VAL, "1.5") #1.5 second minimum to allow for voltage stabilizing and reading before setting new val
    field(EGU, "seconds")
    field(PINI, "YES")
    field(FLNK, "$(DEVICE):setOnStart")
}
record(ai, "$(DEVICE):C_vgetDelay"){
    field(DESC, "Delay before reading voltage")
    field(VAL, "1.45") #1.45 second minimum to allow for voltage stabilizing before reading
    field(EGU, "seconds")
    field(PINI, "YES")
}
record(ai, "$(DEVICE):C_Tolerance"){
    field(DESC, "Tolerance for ramping")
    field(PINI, "YES")
    field(VAL, "$(TOLERANCE)") #dependent on model
}
record(ai, "$(DEVICE):C_Precision"){
    field(DESC, "number of decimal places")
    field(PINI, "YES")
    field(VAL, "$(PREC)")
}

record(ai, "$(DEVICE):C_voltageLimit"){
    field(DESC, "Maximum voltage for device")
    field(PINI, "YES")
    field(HOPR, "$(VMAX)")
    field(VAL, "$(VMAX)") #dependent on model
    field(EGU, "V")
}

record(ai, "$(DEVICE):C_currentLimit"){
    field(DESC, "Maximum current for device")
    field(PINI, "YES")
    field(LOPR, "$(IMIN)")
    field(HOPR, "$(IMAX)")
    field(VAL, "$(IMAX)") #dependent on model
    field(EGU, "A")
}

record(ai, "$(DEVICE):C_currentTripLimit"){
    field(DESC, "Maximum current trip limit for device")
    field(VAL, "$(IMAX)") #dependent on model
    field(HOPR, "$(IMAX)")
    field(EGU, "A")
    field(PREC, "$(PREC)")
    
}

record(seq,"$(DEVICE):setOnStart"){
    #HOPR and LOPR can't take values from links and can only take doubles
    #So values must be passed in through sequence
    field(DESC, "sets values from constants")
    field(DOL1, "$(DEVICE):C_minInterval")
    field(LNK1, "$(DEVICE):VRAMPtimeSet.LOPR PP")
    field(DOL2, "$(DEVICE):C_minInterval")
    field(LNK2, "$(DEVICE):VRAMPinterval.LOPR PP")
    field(DOL3, "$(DEVICE):C_minInterval")
    field(LNK3, "$(DEVICE):VRAMPtimeSet PP")
    field(DOL4, "$(DEVICE):C_minInterval")
    field(LNK4, "$(DEVICE):VRAMPinterval PP")
}

#when changes are applied from the limit menu, set the device limits to the new values
record(seq,"$(DEVICE):setNewLimits"){
    field(DESC, "sets limits from constants")
    field(DOL1, "$(DEVICE):C_voltageLimit")
    field(LNK1, "$(DEVICE):VLIMset PP")
    field(DOL2, "$(DEVICE):C_currentLimit")
    field(LNK2, "$(DEVICE):ILIMset PP")
    field(DOL3, "$(DEVICE):C_currentTripLimit")
    field(LNK3, "$(DEVICE):ITRPset PP")
    field(DOL4, "$(DEVICE):C_voltageLimit")
    field(LNK4, "$(DEVICE):VRAMPstepSize.HOPR PP")
    field(DOL5, "$(DEVICE):C_voltageLimit")
    field(LNK5, "$(DEVICE):desiredHV.HOPR")
    field(DOL6, "$(DEVICE):C_voltageLimit")
    field(LNK6, "$(DEVICE):HVset.HOPR")
    field(DOL7, "$(DEVICE):C_voltageLimit")
    field(LNK7, "$(DEVICE):HVset.DRVH PP")
    field(DOL8, "$(DEVICE):C_voltageLimit")
    field(LNK8, "$(DEVICE):OutputVget.HOPR PP")
    field(DOL9, "$(DEVICE):C_voltageLimit")
    field(LNK9, "$(DEVICE):desiredHV.DRVH PP")

}

#If the menu is closed before changes are applied, limit values are changed back to what they were previously
record(seq, "$(DEVICE):limitMenuClosed"){
    field(DESC, "Sequence to run when limit menu closed")
    field(DOL1, "$(DEVICE):VLIMget PP")
    field(LNK1, "$(DEVICE):C_voltageLimit PP")
    field(DOL2, "$(DEVICE):ILIMget PP")
    field(LNK2, "$(DEVICE):C_currentLimit PP")
    field(DOL3, "$(DEVICE):ITRPget PP")
    field(LNK3, "$(DEVICE):C_currentTripLimit PP")
}

#If limits are reset to default from the menu, set device limits to default values
record(seq, "$(DEVICE):resetLimits"){
    field(DESC, "Reset limits to default from device")
    field(DO1, "$(VMAX)")
    field(LNK1, "$(DEVICE):C_voltageLimit PP")
    field(DO2, "$(IMAX)")
    field(LNK2, "$(DEVICE):C_currentLimit PP")
    field(DO3, "$(IMAX)")
    field(LNK3, "$(DEVICE):C_currentTripLimit PP")
    field(LNK4, "$(DEVICE):setNewLimits PP")
}

record(bi, "$(DEVICE):limitMenuOpen"){
    field(DESC, "Open/close limit menu (ui)")
    field(ZNAM, "Closed")
    field(ONAM, "Open")
    field(PINI, "YES")
}


#__________________________________________
#_____________error messages_______________

record(bo,"$(DEVICE):E_smallStep"){
    field(DESC, "Warning for step being too small")
    field(ZNAM, "Safe")
    field(ONAM, "Voltage change below min")
    field(OUT, "$(DEVICE):errorMessage PP")
    field(PINI, "YES")
}
#mbbi to hold error messages, to be updated with more error statuses if needed
record(mbbi, "$(DEVICE):errorMessage"){
    field(DESC, "Error message for ramping")
    field(PINI, "YES")
    field(ZRST, "No Error")
    field(ONST, "Voltage change below min")
}

record(ai, "$(DEVICE):startVoltage"){
    field(DESC, "Voltage at start of ramp")
    field(EGU, "V")
    field(PINI, "YES")
}

#______________________________________________
#__________Autoscale for data browser__________

#data browser doesn't allow for changing the y axis limits using rules
#so instead, autoscale is used and two pvs are plotted invisibly on the graph to control it
#the autoscale pvs are calculated differently depending on whether it is ramping or idle

#calculate y axis max and min for ramping
#calculated such that y axis shows between starting voltage and target voltage plus a small margin
record(calc, "$(DEVICE):YaxisMax"){
    field(DESC, "calc Y axis maximum")
    field(INPA, "$(DEVICE):desiredHV")
    field(INPB, "$(DEVICE):startVoltage")
    field(INPC, "$(DEVICE):C_minStepSize")
    field(CALC, "MAX(A,B)+C")

}
record(calc, "$(DEVICE):YaxisMin"){
    field(DESC, "calc Y axis minimum")
    field(INPA, "$(DEVICE):desiredHV")
    field(INPB, "$(DEVICE):startVoltage")
    field(INPC, "$(DEVICE):C_minStepSize")
    field(CALC, "MIN(A,B)-C")
}

#calculates y axis max and min for idle state
#calculated to show maximum 5000V on Y axis when idle plus a small margin
#for readability of graph when not ramping
record(calc, "$(DEVICE):idleYaxisMax"){
    field(DESC, "Set Y axis max when not ramping")
    field(INPA, "$(DEVICE):OutputVget")
    field(INPB, "$(DEVICE):C_minStepSize")
    field(CALC, "A + B")
}

record(calc, "$(DEVICE):idleYaxisMin"){
    field(DESC, "Set Y axis min when not ramping")
    field(INPA, "$(DEVICE):OutputVget")
    field(INPB, "$(DEVICE):C_minStepSize")
    field(INPC, "$(DEVICE):graphScale")
    field(CALC, "A>C ? A - C : 0")
}

record(ai, "$(DEVICE):graphScale"){
    field(DESC, "Margin for graph y axis when idle")
    field(VAL, "5000") #5000V margin by default
    field(EGU, "V")
    field(PINI, "YES")
}

#pvs to be plotted invisibly on the graph to control the autoscale feature in data browser
record(ai, "$(DEVICE):autoscaleControlMax"){
    field(DESC, "Control autoscale maximum")
    field(PINI, "YES")
}

record(ai, "$(DEVICE):autoscaleControlMin"){
    field(DESC, "Control autoscale minimum")
    field(PINI, "YES")
}

#sequences to set autoscale pvs to the calculated values
record(seq, "$(DEVICE):idleZoom"){
    field(DESC, "Auto zoom data browser")
    field(DOL1, "$(DEVICE):idleYaxisMax PP")
    field(LNK1, "$(DEVICE):autoscaleControlMax PP")
    field(DOL2, "$(DEVICE):idleYaxisMin PP")
    field(LNK2, "$(DEVICE):autoscaleControlMin PP")
    field(PINI, "YES")
}
record(seq, "$(DEVICE):rampZoom"){
    field(DESC, "Auto zoom data browser")
    field(DOL1, "$(DEVICE):YaxisMax")
    field(LNK1, "$(DEVICE):autoscaleControlMax PP")
    field(DOL2, "$(DEVICE):YaxisMin")
    field(LNK2, "$(DEVICE):autoscaleControlMin PP")
    
}

record(bi, "$(DEVICE):toolbarShow"){
    field(DESC, "Show/hide toolbar in ui")
    field(ZNAM, "Hide Toolbar")
    field(ONAM, "Show Toolbar")
    field(VAL, "0")
    field(PINI, "YES")
}

#____________________________________________
#___________End of ramp sequence_____________

record(seq, "$(DEVICE):endCharge")
{
    field(DESC, "Sequence to end HV charge")
    field(DO1, "0")
    field(LNK1, "$(DEVICE):VRAMPactive PP")
    field(DO2, "6")
    field(LNK2, "$(DEVICE):voltageMonitor.SCAN")
    field(DO3, "0")
    field(LNK3, "$(DEVICE):voltageMonitor.DLY1")
    field(DO4, "6")
    field(LNK4, "$(DEVICE):ReadbackPoll_.SCAN")
    field(LNK5, "$(DEVICE):idleZoom PP")
}

#______________________________________________
#_______________Reset button__________________

record(seq, "$(DEVICE):hardReset"){
    field(DESC, "Hard reset sequence")
    field(DO1, "0")
    field(LNK1, "$(DEVICE):HVenable PP")
    field(DO2, "1")
    field(LNK2, "$(DEVICE):TripClear PP")
    field(LNK3, "$(DEVICE):ResetDevice.PROC PP")
    field(DO4, "1")
    field(LNK4, "$(DEVICE):HVenable PP")
}

record(bo, "$(DEVICE):ResetDevice")
{
    field(DESC, "Reset device")
    field(DTYP, "stream")
    field(OUT,  "@ps300.proto cmd(RST) $(PORT) $(A)")
    field(ZNAM, "Reset Device")
    field(ONAM, "Reset Device")
}

#__________________________________________
#_______________Polarity___________________


record(bi, "$(DEVICE):polarity")
{
    field(DESC, "Device polarity")
    field(ZNAM, "+ve")
    field(ONAM, "-ve On")
    field(VAL, "$(POLARITY)") # Dependent on model
    field(PINI, "YES")
}

#__________________________________________
#_______________Config Menu________________

record(mbbi, "$(DEVICE):configMenuOpen"){
    field(DESC, "Open ui config menu")
    field(VAL, "0")
    field(ZRST, "Closed")
    field(ONST, "small menu")
    field(TWST, "medium menu")
    field(THST, "full menu")
}
